<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <header>
      <h1>Bird Collector</h1>
      <nav>
        <ul>
          <li><a href="/collection">My Collection</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <ul style="list-style: none;">
        <% for(let i=0; i<birds.length; i++) { %>
          <div class = "birds">
          <% if(birds[i].addToCollection === true) { %>
           
            <li><a href="<%=birds[i]._id%>"><img class = "collected" id="indexpics" src="<%=birds[i].image%>" alt=""></a></li>
            <li>COLLECTED!</li>
        <% } else { %>
           <li><a href="<%=birds[i]._id%>"><img class = "notCollected" id="indexpics" src="<%=birds[i].image%>" alt=""></a></li>
        <% } %>

        <li><%=birds[i].name%></li>
        
        <form action="/<%=birds[i]._id%>?_method=DELETE" method="POST">
          <input class="delete" type="submit" value="DELETE" />
          </form>
        </div>
        <% } %>
      </ul>
    </main>

    <footer>
      <nav>
        <ul>
          <li><a href="/new">Add Bird to Database</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
