<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs')%>
</head>
<body>
  
  <header>
    <h1>Bird Collector</h1>
    
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/collection">My Collection</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <h5><%=bird.name%></h5>
    <ul style="sty">
      <li><img src="<%=bird.image%>" alt="photo of bird" /></li>
      <div class = "showInfo">
      <li>Scientific Name:<%=bird.scientificName%></li>
      <li>Description:<%=bird.description%></li>
      <li>Notes:<%=bird.notes%></li>
    </div>
    </ul>
  </main>
 
  <section>
    <a href="<%= bird._id %>/edit">Edit</a>
  </section>

</body>
</html>